
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1B2430;
}

.container {
    background-color: #1B2430;
    position: relative;
    width: 350px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
        10px 10px 0px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.25),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    padding: 50px;
}





form {
    position: relative;
    width: 100%;
}
.container h3 {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.inputBox span {
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-left: 4px solid #fff;
    padding-left: 4px;
    line-height: 1em;
}






.inputBox .box {
    display: flex;
}
.inputBox .box .icon {
    position: relative;
    min-width: 40px;
    height: 40px;
    background-color: #51557E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    font-size: 1.25em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.2),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.inputBox .box input {
    position: relative;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.2),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.inputBox .box input[type="submit"] {
    background-color: #51557E;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
}
label {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
label input{
    margin-right: 5px;
}
.forgot{
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
}